/* Global Styles */
.background-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

/* Logo Styles */
#mylogo {
  margin-top: 10%;
  width: 30%;
  margin-left: 30%;
  margin-bottom: -2%;
}

@media screen and (max-width: 1024px) {
  .background-img {
    height: 100%;
    width: 100%;
  }

  #mylogo {
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
  }
}

/* Card Styles */
.card {
  margin: 15% auto;
  background-color: #303030;
  color: white;
  margin-bottom: 15%;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust width as needed */
}

/* Header Styles */
.header-content {
  margin-left: 3%;
}

/* Button Styles */
.sign-in-btn {
  background-color: #ff8c00;
  color: white;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  padding: 5%;
  cursor: pointer;
}
.welcome-back {
  margin-left: 5%;
  margin-top: -5%;
  margin-bottom: 6%;
  color: darkgray;
}

.sign-up {
  text-align: center;
  margin: 40px 0 0;
  margin-bottom: 10%;
}
.heading {
  margin: 20px;
  font-size: 32px;
  margin-bottom: 6%;
}

.sub-heading {
  margin-left: 20px;
}

.sign-up-btn,
.forgot-password {
  color: #ff8c00;
  padding-left: 1%;
}

.forgot-password,
.sign-up-btn {
  text-decoration: none;
}

.form-input {
  width: 100%;
}

:host
  ::ng-deep
  .mat-mdc-form-field:not(.mat-form-field-disabled)
  .mat-mdc-floating-label.mdc-floating-label {
  font-size: 13px;
}

.selector {
  background-color: #303030;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  padding-left: 8%;
  width: 80%;
}

mat-icon {
  color: #333;
}
